body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffffff, #b2f0e6, #91c9f7);
    color: #333;
    transition: background 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250vh;
    margin: 10;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
}

.dark-mode {
    background: linear-gradient(to right, #121212, #33485e, #1a1a1a);
    color: #ffffff;
}

.dark-mode .container {
    background: linear-gradient(to right, #121212, #4e7296, #1a1a1a);
    color: #ffffff;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.dark-mode input, .dark-mode select {
    background: #333;
    color: white;
    border: 1px solid #666;
}

#mode-toggle {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 55%;
    padding: 0px;
    background: linear-gradient(to right, #ffffff, #a3a3a3, #fcfcfc);
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="text"], input[type="date"] {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.nominal-btn {
    padding: 12px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    margin: 5px;
}

.nominal-btn.active {
    background-color: #ffc107;
    color: black;
    font-weight: bold;
}

.tambah-btn {
    display: block;
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: #28a745;
    color: white;
    margin-top: 2px;
    transition: background 0.3s;
}

.table-container {
    max-height: 25%; /* Sesuaikan tinggi sesuai kebutuhan */
    overflow-y: auto;
    border: 5px solid #ccc; /* Opsional, untuk estetika */
}


th, td {
    padding: 7px;
    border: 4px solid #ddd;
}

th {
    background-color: #000000;
    color: white;
}

.edit-btn, .hapus-btn {
    border: none;
    padding: 3px 50px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    margin: 1px;
}

.edit-btn {
    background-color: #ffc107;
    color: black;
}

.hapus-btn {
    background-color: #dc3545;
    color: white;
}

.saldo {
    margin-top: 10px;
    font-weight: bold;
}
